#red{
	 border-style: solid;
  border-color: black;
	border-width:1px;
	background:red;
}
#yellow{
	 border-style: solid;
  border-color: green;
	border-width:1px;
	background:yellow;
}
#green{
 border-style: solid;
  border-color: yellow;
	border-width:1px;
	background:green;
}


/*  your css code here. If applicable */
