#red{
	border-color:black;
	border-width:1px;
	background:red;
}
#yellow{
	border-color:black;
	border-width:1px;
	background:yellow;
}
#green{
	border-color:black;
	border-width:1px;
	background:green;
}


/*  your css code here. If applicable */
